{% extends 'base.html' %}

{% block title %}Experience{% endblock %}

{% block content %}
<section class="site-section" id="experience">
    <div class="container">
        <h1 class="mb-4">My Experience</h1>
        <div class="resume-item mb-4">
            <span class="date"><span class="icon-calendar"></span> March 2024</span>
            <h3>C Programming</h3>
            <p>Problem solving using C</p>
            <span class="school">Yenepoya</span>
        </div>
        <div class="resume-item mb-4">
            <span class="date"><span class="icon-calendar"></span> January 2024</span>
            <h3>Python Programming</h3>
            <p>Worked on hand detection project</p>
            <span class="school">YIASCM</span>
        </div>
        <div class="resume-item mb-4">
            <span class="date"><span class="icon-calendar"></span> February 2024</span>
            <h3>DBMS</h3>
            <p>Database management skills</p>
            <span class="school">Yenepoya</span>
        </div>
    </div>
</section>
{% endblock %}
