{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="site-hero" style="background-image: url('../static/assets/images/image_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="container text-center pt-5">
        <h1 class="site-heading">Hello, I'm</h1>
        <h2 class="static-name">Muhammed Afsal AOP</h2>
        <div class="animated-text">
            <div class="text-slide">Python Programmer</div>
            <div class="text-slide">Student</div>
        </div>
    </div>
</section>
{% endblock %}
